header{
        margin-bottom: 4%;
}

#content{
        font-family: 'Gill Sans', 'Gill Sans MT';
        color: antiquewhite;
        margin: 3%;
}

#mainhead{
        color: crimson;
        text-transform: uppercase;
        text-decoration: underline;
}